@font-face {
	font-family: 'Montserrat';
	src: url(fonts/montserrat/Montserrat-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #FFFFFF;
	font-family: 'Montserrat';
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
	transition: 0.5s;
	user-select: none;
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.link {}

.btn {
	position: relative;
	padding: 32px 57px;
	border: none;
	border-radius: 10px;
	background: linear-gradient(#FEBC59, #F19C5E);
	box-shadow: -2px 3px 1px #DD782F;
	transition: 0.3s;
	cursor: pointer;
}

.btn:hover {
	box-shadow: none;
}

.btn:active {
	box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

.btn::before {
	content: "";
	position: absolute;
	bottom: -7px;
	left: -6px;
	width: 95%;
	height: 80%;
	border: 1px solid transparent;
	border-radius: 10px;
	z-index: -1;
	transition: 0.3s;
	/* pointer-events: none; */
}

.btn:hover::before {
	border-color: #DD782F;
}

.btn:active::before {
	border: none;
}


.btn__arrows {
	display: flex;
	align-items: center;
	gap: 10px;
}

.arrow-img {
	width: 19px;
	height: 19px;
}

.btn__arrow {
	position: relative;
	width: 45px;
	height: 41px;
	border-radius: 5px;
	background-image: url(img/bcArrow.png);
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	transition: 0.3s;
}

.btn__arrow:active {
	box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(10px);
}

.btn__arrow::before {
	content: "";
	position: absolute;
	bottom: -4px;
	left: -4px;
	width: 95%;
	height: 90%;
	border: 1px solid transparent;
	border-radius: 10px;
	z-index: -1;
	transition: 0.3s;
}

.btn__arrow:hover::before {
	border-color: #F7AA5B;
}

.btn__arrow:active::before {
	border: none;
}